{% load static %}
<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>Excelerator - Compare</title>
        <link rel="stylesheet" type="text/css" href="{% static 'compare/css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>
                Excelerator
            </h1>
        </header>
        <div class = "filter-form-container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Press">
            </form>
        </div>
        {% if isPOST %}
            <div class="table-container">
                <table class="comparison-table">
                    <thead>
                        <tr>
                            {% if select_pivot_column != 'No Pivot Required' %}
                                <th scope="col">{{ pivot_column_name }}</th>
                            {% endif %}
                            <th scope="col">{{ select_file1column }}</th>
                            <th scope="col">{{ select_file2column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if select_pivot_column != 'No Pivot Required' %}
                            {% for abc in zipper %}
                                {% if abc.0 == abc.1 %}
                                    {% if abc.0 != '' or abc.1 != '' %}
                                        <tr>
                                            <td><strong>{{abc.2}}</strong></td>
                                            <td>{{ abc.0 }}</td>
                                            <td>{{ abc.1 }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                {% if abc.0 != abc.1 %}
                                    <tr class = "table-danger">
                                        <td><strong>{{abc.2}}</strong></td>
                                        <td>{{ abc.0 }}</td>
                                        <td>{{ abc.1 }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if select_pivot_column == 'No Pivot Required' %}
                            {% for ab in zipper %}
                                {% if ab.0 == ab.1 %}
                                    {% if ab.0 != '' or ab.1 != '' %}
                                        <tr>
                                            <td>{{ ab.0 }}</td>
                                            <td>{{ ab.1 }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                {% if ab.0 != ab.1 %}
                                  <tr class = "table-danger">
                                      <td>{{ ab.0 }}</td>
                                      <td>{{ ab.1 }}</td>
                                  </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}






        <script>
            $(document).ready(function(){

                console.log("Hello");
                //let objectData = JSON.parse('{{ json_object_data| escapejs }}');
                var objectData = JSON.parse($.getJSON({'url': "{% static "compare/data/object_data.json" %}",'async':false}).responseText);
                console.log(objectData);
                var file1sheets = objectData.file1sheets;
                var file2sheets = objectData.file2sheets;
                var file1dropdown = objectData.file1dropdown;
                var file2dropdown = objectData.file2dropdown;
                var file1dropdown_dict = objectData.file1dropdown_dict;
                var file2dropdown_dict =objectData.file2dropdown_dict;
                var file1_is_xl = objectData.file1_is_xl;
                var file2_is_xl = objectData.file2_is_xl;

                //let file1sheet_prev = $('#id_file1sheet').val();
                //let file1dropdownArray_prev = [];

                {# Setting up intial column values #}
                if("{{ isPOST }}" == "True"){
                    $tempfield = $('#id_file1sheet');
                    $tempselect = $tempfield.find("[value = '{{ select_file1sheet }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_file1sheet }}' selected>{{ select_file1sheet }}</option>`);

                    $tempfield = $('#id_file1column');
                    $tempselect = $tempfield.find("[value = '{{ select_file1column }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_file1column }}' selected>{{ select_file1column }}</option>`);

                    $tempfield = $('#id_file2sheet');
                    $tempselect = $tempfield.find("[value = '{{ select_file2sheet }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_file2sheet }}' selected>{{ select_file2sheet }}</option>`);

                    $tempfield = $('#id_file2column');
                    $tempselect = $tempfield.find("[value = '{{ select_file2column }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_file2column }}' selected>{{ select_file2column }}</option>`);

                    $tempfield = $('#id_pivot_column');
                    $tempselect = $tempfield.find("[value = '{{ select_pivot_column }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_pivot_column }}' selected>{{ select_pivot_column }}</option>`);

                    $tempfield = $('#id_filter');
                    $tempselect = $tempfield.find("[value = '{{ select_filter }}']");
                    $tempselect.remove();
                    $tempfield.append(`<option value='{{ select_filter }}' selected>{{ select_filter }}</option>`);

                }else {
                    console.log(file1_is_xl, file1_is_xl == true)
                    if (file1_is_xl) {
                        $('#id_file1column').empty();
                        $('#id_file1column').append(`<option value="">-----</option>`);
                        console.log("1 is empty");
                    }
                    if (file2_is_xl) {
                        $('#id_file2column').empty();
                        $('#id_file2column').append(`<option value="">-----</option>`);

                        console.log("2 is empty");
                    }
                    $('#id_pivot_column').empty();
                    $('#id_pivot_column').append(`<option value="No Pivot Required">No Pivot Required</option>`);
                }

                //var file1Sheet1Strings = JSON.parse('{{ json_file1sheet1strings| escapejs }}');


                $('#id_file1sheet').on('change',function() {
                    if (file1_is_xl) {
                        var file1sheet = $('#id_file1sheet').val();
                        console.log("Sheet Selected: ",file1sheet);

                        {# Deleting existing file-1 pivots and file-1 columns #}
                        $( "option[value^='[File-1]: ']" ).remove();
                        $('#id_file1column').empty();
                        $('#id_file1column').append(`<option value="">-----</option>`);


                        {# This checkflag if stays true after the end of iteration, then the selected option is ----- #}
                        let checkFlag1 = true;
                        for (var sheet in file1dropdown_dict) {
                            console.log(sheet,file1sheet)
                            if (sheet == file1sheet) {
                                console.log("equal")
                                var selectedDropdownArray = file1dropdown_dict[sheet];
                                var length = selectedDropdownArray.length;
                                var i;

                                for (i = 0; i < length; i++) {
                                    tempDropdownElement = selectedDropdownArray[i];
                                    console.log(selectedDropdownArray[i]);
                                    $('#id_file1column').append(
                                        `
                                        <option value = "${tempDropdownElement}">
                                            ${tempDropdownElement}
                                        </option>
                                        `
                                    );
                                    $('#id_pivot_column').append(
                                        `
                                        <option value = "[File-1]: ${tempDropdownElement}">
                                            [File-1]: ${tempDropdownElement}
                                        </option>
                                        `
                                    );
                                }
                                checkFlag1 = false;
                                break;
                            }
                        }
                        if(checkFlag1){
                            $('#id_file1column').empty();
                            $('#id_file1column').append(`<option value="">-----</option>`);

                        }
                    }
                });

                $('#id_file2sheet').on('change',function(){
                    if(file2_is_xl){
                        var file2sheet = $('#id_file2sheet').val();

                        {# Deleting existing file-2 pivots and file-2 columns #}
                        $( "option[value^='[File-2]: ']" ).remove();
                        $('#id_file2column').empty();
                        $('#id_file2column').append(`<option value="">-----</option>`);

                        {# This checkflag if stays true after the end of iteration, then the selected option is ----- #}
                        let checkFlag2 = true;
                        for(var sheet in file2dropdown_dict){
                            if(sheet == file2sheet){
                                console.log(sheet,file2sheet);
                                console.log("true",file2dropdown_dict);
                                console.log(file2dropdown_dict[sheet].length);
                                var selectedDropdownArray = file2dropdown_dict[sheet];
                                var length = selectedDropdownArray.length;
                                var i;

                                for(i = 0; i < length; i++){
                                    tempDropdownElement = selectedDropdownArray[i];
                                    console.log(selectedDropdownArray[i]);
                                    $('#id_file2column').append(
                                        `
                                        <option value = "${tempDropdownElement}">
                                            ${tempDropdownElement}
                                        </option>
                                        `
                                    );
                                    $('#id_pivot_column').append(
                                        `
                                        <option value = "[File-2]: ${tempDropdownElement}">
                                            [File-2]: ${tempDropdownElement}
                                        </option>
                                        `
                                    );
                                }
                                checkFlag2 = false;
                                break;
                            }
                        }
                        if(checkFlag2){
                            $('#id_file2column').empty();
                            $('#id_file2column').append(`<option value="">-----</option>`);

                        }
                    }


                });
            });


        </script>
    </body>
</html>






{#{% load compare_extras %}#}

{#    <ul>#}
{#        {% for key in target_data %}#}
{#            <li><strong>{{ key }}: </strong>{{ target_data|get_item:key }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

