.comparison-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.comparison-table td, .comparison-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.comparison-table tr:nth-child(even){background-color: #f2f2f2;}

/**.comparison-table tr:hover {background-color: #ddd;}**/

.comparison-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.table-danger{
  background-color: rgba(255,50,100,0.5);
}
.table-danger:hover{
  background-color: rgba(255,50,100,1);
}