{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


{% if alert_message %}
    <script>
        alert("{{ alert_message }}");
    </script>
{% endif %}
    <br><br>
<div align="center">
    <div class = "card" style="width: 18rem;">
        <h5 class="card-header">Upload Your Files Here</h5>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="comparison-form">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button class = "btn btn-primary" type="submit" id="upload_files">Upload</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
